<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="menu-content"></ion-menu-button>
    </ion-buttons>
    <ion-title>My (Feline) Heroes</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="addHero()"
        slot="icon-only">
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-list-header>
      <ion-label *ngIf="!selectedHero">Select your (feline) hero</ion-label>
      <ion-label *ngIf="selectedHero"> {{selectedHero.name | uppercase}} is my (feline) hero</ion-label>
    </ion-list-header>
    <ion-item-sliding *ngFor="let hero of heroes">
      <ion-item (click)="onSelect(hero)"
        [color]="hero===selectedHero ? 'secondary' : ''"
        [class.selected]="hero === selectedHero">
        <ion-thumbnail slot="start">
          <ion-img src="https://d2ph5fj80uercy.cloudfront.net/06/cat{{hero.id}}.jpg"></ion-img>
        </ion-thumbnail>
        <ion-label>{{hero.name}} ({{hero.id}})</ion-label>
        <ion-buttons slot="end">
          <ion-button (click)="gotoDetail()"
            slot="icon-only">
            <ion-icon slot="start"
              name="arrow-forward"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="danger"
          (click)="deleteHero(hero, $event)">Delete</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
    <ion-list-header>
      <ion-label>ngForFeatures</ion-label>
      <ion-button (click)="showNgFor=!showNgFor">{{showNgFor ? 'Hide' : 'Show'}} ngFor Features</ion-button>
    </ion-list-header>
    <ng-container *ngIf="showNgFor">
      <ion-item
        *ngFor="let hero of heroes; let ix = index; let c = count; let e = even; let o = odd; let f = first; let l = last">
        <ion-label>{{hero.name}}</ion-label>
        <ion-label>{{ix}}</ion-label>
        <ion-label>{{c}}</ion-label>
        <ion-label>{{e}}</ion-label>
        <ion-label>{{o}}</ion-label>
        <ion-label>{{f}}</ion-label>
        <ion-label>{{l}}</ion-label>
      </ion-item>

    </ng-container>
  </ion-list>

  <div class="error"
    *ngIf="error">{{error}}</div>

  <!-- <div *ngIf="addingHero">
    <my-hero-detail (close)="close($event)"></my-hero-detail>
  </div> -->

</ion-content>
