// a place for our variable to live

// color
$light-blue: #a5e4eb;
$blue: #4286df;
$dark-blue: #21318c;
$hot-pink: #f03c97;
$dark-pink: #8c2167;
$purple: #b8b3d3;
$white: #f7f7f7;

$muted-bg: $white;

// customizing KUI

$base-bg: $blue;
$base-text: $white;
$hovered-bg: $dark-blue;